<style>
        body {
            font-family: Arial;
            background: #f7f7f7;
            text-align: center;
            padding-top: 50px;
        }
        .search-box {
            background: white;
            width: 400px;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        input[type="text"] {
            width: 80%;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 20px;
            background: #0077cc;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background: #005fa3;
        }
    .post-title {
      font-family: "Oswald", Arial, sans-serif;
      font-size: 26px;
      color: #1b71aa;
      letter-spacing: 1px;
      margin-bottom: 5px;
      text-transform: uppercase;
      text-align: center;
      
    }
    .post-meta {
      font-size: 11px;
      color: #777;
      margin-bottom: 20px;
    }
    .post-image1 {
      
      width: 160px;
      height: 130px;
      margin: 0 20px 10px 0;
      border: 1px solid #eee;
      
    }

</style>
{% include 'adminheader.html' %}

   <!-- Main content -->
    <div class="container">
      <!-- Left column -->
      <section class="content">
        
        <div class="post-meta"></div>
        <div class="post-text">
            <div class="search-box">
              <h3>Are you sure you want to logout?</h3><br>
              <form action="/logout" method="get" style="display:inline;">
                  <button class="btn yes-btn">Yes</button>
              </form>
            
              <form action="/adminhome" method="get" style="display:inline;">
                  <button class="btn no-btn">No</button>
               </form>
            </div>
        </div>

        
      </section>
      <!-- Right column / sidebar -->
      <aside class="sidebar">
        <div class="sidebar-box">
          <p>
            <div class="post-image1">
              <img src="static/Admin.jpeg" alt="" > 
            </div>
          </p>
        </div>
     
        <div class="sidebar-box1"></div>
        <br><br>
        <h4 style="text-align: left;padding-left: 20px;">{{admin_name}}</h4>
        <h5 style="text-align: left;padding-left: 60px;">Admin</h5>
          
      </aside>
    </div>
    <!-- Footer -->
    <footer class="footer">
      &copy; 2025 HRERP. Design by <a href="#">ABC</a>.
    </footer>
  </div>

</body>
</html>
