{% include 'header.html' %}

    <!-- Main content -->
    <div class="container">
      <!-- Left column -->
      <section class="content">
        <h2 class="post-title">Welcome to ABC IT Solution LTD</h2>
        <div class="post-meta">

        </div>

        <div class="post-image">
          <img src="static/homepage.jpeg" alt="" >
        </div>

        <div class="post-text">
          <p>
            <ul style="list-style-position: outside; padding-left: 50px;">
                <li>Empowering Businesses Through Smart IT Solutions</li>
                <li>Innovating Today. Securing Tomorrow.</li>
                <li>Your Technology, Optimized for Success</li>
                <li>Where IT Meets Excellence</li>
                <li>Transforming Ideas Into Digital Reality</li>
            </ul>
          </p>
          <p>
            We deliver reliable, scalable, and secure IT solutions that help businesses operate smarter, faster, and more efficiently.
            From cloud services to enterprise support, we build technology foundations that drive growth and long-term success.
            We help organizations leverage the power of modern IT to enhance productivity, security, and performance.
            Your trusted technology partner — delivering end-to-end IT solutions tailored to your business goals.
          </p>
        </div>

        <div class="clear"></div>
      </section>

      <!-- Right column / sidebar -->
      <aside class="sidebar">
        <div class="sidebar-box">
          <h3 class="sidebar-title">Our Vision</h3>
          <p>
            To become a leading global technology partner known for delivering high-quality solutions, exceptional service, and meaningful digital transformation.
          </p>
        </div>

        <div class="sidebar-box">
          <h3 class="sidebar-title">Courses</h3>
          <ul>
            <li><a href="#">Software Development</a></li>
            <li><a href="#">Automation & AI</a></li>
            <li><a href="#">IT Infrastructure Services</a></li>
            <li><a href="#">Cloud Solutions</a></li>
            <li><a href="#">Support & Maintenance</a></li>
            
          </ul>
        </div>
      </aside>
    </div>

    <!-- Footer -->
    <footer class="footer">
      &copy; 2025 HRERP. Design by <a href="#">ABC</a>.
    </footer>
  </div>

</body>
</html>
